.paginator {
  text-align: center;
}

.pageNumber {
  padding: 2px 20px;
  border: 1px solid grey;
}

.selectedPage {
  font-weight: bold;
}

.btnPrev,
.btnNext {
  padding: 4px 20px;
  border: 1px solid grey;
  vertical-align: 1px;
  background-color: lightgray;
}

.btnPrev {
  border-radius: 5px 0 0 5px;
}

.btnNext {
  border-radius: 0 5px 5px 0;
}

.btnPrev:hover,
.btnNext:hover,
.pageNumber:hover {
  cursor: pointer;
}
