.preloader {
  width: 300px;
  height: 300px;
  position: relative;
  top: 30vh;
  left: 41%;
}

.preloader::after {
  content: " ";
  display: block;
  width: 200px;
  height: 200px;
  margin: 8px;
  border-radius: 50%;
  border: 20px solid lightgray;
  border-color: lightgray transparent lightgray transparent;
  animation: preloader 1.2s linear infinite;
}

@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 360px) and (max-width: 480px) {
  .preloader {
    width: 150px;
    height: 150px;
    left: 32%;
  }
  .preloader::after {
    width: 100px;
    height: 100px;
    border: 10px solid lightgray;
    border-color: lightgray transparent lightgray transparent;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .preloader {
    width: 180px;
    height: 180px;
    left: 37%;
  }
  .preloader::after {
    width: 120px;
    height: 120px;
    border: 12px solid lightgray;
    border-color: lightgray transparent lightgray transparent;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .preloader {
    width: 250px;
    height: 250px;
    left: 37%;
  }
  .preloader::after {
    width: 180px;
    height: 180px;
    border: 18px solid lightgray;
    border-color: lightgray transparent lightgray transparent;
  }
}
